In [1]:
import sys
sys.path.append("..") # Adds higher directory to python modules path.

In [2]:
# Load configuration
from config import DATABASE_URI

In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [15]:
# Create a database connection
conn = create_engine(DATABASE_URI, echo=False)
# Query the database
query = "SELECT date, vehicles FROM data where date between '2019-01-06' and '2019-01-07'"
df = pd.read_sql(query, conn)

# Create a full series of datetime values
idx = pd.date_range('2019-01-06', '2019-01-07', freq='5min')
df = df.groupby(pd.Grouper(key='date', freq='5min')).sum()
df.index = pd.DatetimeIndex(df.index)
df = df.reindex(idx, fill_value=0)
df = df.rename_axis('date').reset_index()

df

                   date  vehicles
0   2019-01-06 00:00:00         0
1   2019-01-06 00:05:00         0
2   2019-01-06 00:10:00         0
3   2019-01-06 00:15:00         0
4   2019-01-06 00:20:00         0
5   2019-01-06 00:25:00         0
6   2019-01-06 00:30:00         1
7   2019-01-06 00:35:00         0
8   2019-01-06 00:40:00         0
9   2019-01-06 00:45:00         0
10  2019-01-06 00:50:00         0
11  2019-01-06 00:55:00         0
12  2019-01-06 01:00:00         0
13  2019-01-06 01:05:00         0
14  2019-01-06 01:10:00         0
15  2019-01-06 01:15:00         0
16  2019-01-06 01:20:00         0
17  2019-01-06 01:25:00         0
18  2019-01-06 01:30:00         0
19  2019-01-06 01:35:00         0
20  2019-01-06 01:40:00         0
21  2019-01-06 01:45:00         0
22  2019-01-06 01:50:00         0
23  2019-01-06 01:55:00         0
24  2019-01-06 02:00:00         0
25  2019-01-06 02:05:00         0
26  2019-01-06 02:10:00         0
27  2019-01-06 02:15:00         0
28  2019-01-06 02:20:00         0
29  2019-01-06 02:25:00         0
..                  ...       ...
259 2019-01-06 21:35:00         0
260 2019-01-06 21:40:00         0
261 2019-01-06 21:45:00         0
262 2019-01-06 21:50:00         0
263 2019-01-06 21:55:00         0
264 2019-01-06 22:00:00         0
265 2019-01-06 22:05:00         0
266 2019-01-06 22:10:00         0
267 2019-01-06 22:15:00         1
268 2019-01-06 22:20:00         0
269 2019-01-06 22:25:00         0
270 2019-01-06 22:30:00         0
271 2019-01-06 22:35:00         0
272 2019-01-06 22:40:00         0
273 2019-01-06 22:45:00         0
274 2019-01-06 22:50:00         0
275 2019-01-06 22:55:00         0
276 2019-01-06 23:00:00         0
277 2019-01-06 23:05:00         0
278 2019-01-06 23:10:00         0
279 2019-01-06 23:15:00         0
280 2019-01-06 23:20:00         0
281 2019-01-06 23:25:00         0
282 2019-01-06 23:30:00         1
283 2019-01-06 23:35:00         0
284 2019-01-06 23:40:00         0
285 2019-01-06 23:45:00         0
286 2019-01-06 23:50:00         0
287 2019-01-06 23:55:00         0
288 2019-01-07 00:00:00         0

[289 rows x 2 columns]

In [5]:
df['date'][df['date'].dt.hour % 3 == 0][df['date'].dt.minute == 0]

0     2019-01-06 00:00:00
36    2019-01-06 03:00:00
72    2019-01-06 06:00:00
108   2019-01-06 09:00:00
144   2019-01-06 12:00:00
180   2019-01-06 15:00:00
216   2019-01-06 18:00:00
252   2019-01-06 21:00:00
288   2019-01-07 00:00:00
Name: date, dtype: datetime64[ns]